## Cleaning and Storing data
We will retrieve our Students Academic data from the `raw` schema, clean the missing values, and load the data into the newly created `cleaned` schema.

In [12]:
import seaborn as sns
import pandas as pd
import numpy as np

In [13]:
from sqlalchemy import create_engine

 Develop few variables which helps to connect the data base

In [14]:
host = r'127.0.0.1' # denotes that the db in a local installation
db = r'MSDS610' # db we just created
user = r'postgres' # using the postgres user for this demo
pw = r'Ashok%403999' # this is the password established during installation
port = r'5432' # default port estabalished during install
schema = r'raw' # schema we just created

In [15]:
db_conn = create_engine("postgresql://{}:{}@{}:{}/{}".format(user, pw, host, port, db))

In [42]:
table_name = r'Student_Performance'
schema = r'raw' # schema were the data was loaded last week.
Student_raw = pd.read_sql_table(table_name, db_conn, schema)

In [19]:
Student_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Socioeconomic Score  1388 non-null   float64
 1   Study Hours          1388 non-null   float64
 2   Sleep Hours          1388 non-null   float64
 3   Attendance (%)       1388 non-null   float64
 4   Grades               1388 non-null   float64
dtypes: float64(5)
memory usage: 54.3 KB

In [20]:
Student_raw.head(10)

   Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
0              0.95822          3.4          8.2            53.0    47.0
1              0.85566          3.2          5.9            55.0    35.0
2              0.68025          3.2          9.3            41.0    32.0
3              0.25936          3.2          8.2            47.0    34.0
4              0.60447          3.8         10.0            75.0    33.0
5              0.98320          3.4          9.0            47.0    51.0
6              0.56648          7.9          8.1            63.0    54.0
7              0.93487          1.4          8.0            47.0    34.0
8              0.46660          5.4          8.8            67.0    39.0
9              0.62130          1.4          9.6            42.0    34.0

In [21]:
Student_raw.replace([None], np.nan, inplace=True)

In [22]:
Student_raw.head(10)

   Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
0              0.95822          3.4          8.2            53.0    47.0
1              0.85566          3.2          5.9            55.0    35.0
2              0.68025          3.2          9.3            41.0    32.0
3              0.25936          3.2          8.2            47.0    34.0
4              0.60447          3.8         10.0            75.0    33.0
5              0.98320          3.4          9.0            47.0    51.0
6              0.56648          7.9          8.1            63.0    54.0
7              0.93487          1.4          8.0            47.0    34.0
8              0.46660          5.4          8.8            67.0    39.0
9              0.62130          1.4          9.6            42.0    34.0

In [23]:
clean_Student_Performance = Student_raw.copy()

In [24]:
clean_Student_Performance['Socioeconomic Score'].unique()

array([0.95822, 0.85566, 0.68025, ..., 0.88197, 0.47336, 0.58119])

In [26]:
clean_Student_Performance[clean_Student_Performance['Socioeconomic Score'].isna() | clean_Student_Performance['Socioeconomic Score'].eq('')]

Empty DataFrame
Columns: [Socioeconomic Score, Study Hours, Sleep Hours, Attendance (%), Grades]
Index: []

There is no NAN values

In [35]:
missing_info = clean_Student_Performance[clean_Student_Performance['Socioeconomic Score'].isna()].copy()

In [36]:
missing_info.head(10)

Empty DataFrame
Columns: [Socioeconomic Score, Study Hours, Sleep Hours, Attendance (%), Grades]
Index: []

There is no missing information

In [37]:
clean_Student_Performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Socioeconomic Score  1388 non-null   float64
 1   Study Hours          1388 non-null   float64
 2   Sleep Hours          1388 non-null   float64
 3   Attendance (%)       1388 non-null   float64
 4   Grades               1388 non-null   float64
dtypes: float64(5)
memory usage: 54.3 KB

## Load the Data

In [41]:
table_name = r'Student_Performance_Cleaned'
schema = r'Cleaned' # schema we created this week.

clean_Student_Performance.to_sql(table_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

1388